input:focus{
    outline: none;
}

.navbar {
    width: 100%;
    height: 90px;
    background: #134013;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px !important;
    position: fixed !important;
    z-index: 999;
}

.navbar-texts{
    display: flex;
    align-items: center;
}

.navbar-texts li{
    margin: 0 15px;
    cursor: pointer;
    list-style: none;
}

.navbar-texts li a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.navbar .image img{
    height: 60px;
}

.navbar input{
    border-radius: 20px;
    text-indent: 10px;
    border: none;
}

section.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

section.home img{
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
}

.area{
    width: 700px;
    height:400px;
    background:#00000086;
    border-radius:  20px 0 0 20px ;
}